<section class="userlineup">
  <p id="notice"><%= notice %></p>
  <h3>Listing NBA Players</h3>
  <table class="players-list-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Team</th>
        <th>Average Points</th>
        <th>Cost</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @nbaplayers.each do |nbaplayer| %>
        <tr>
          <td><%= nbaplayer[:name] %></td>
          <td><%= nbaplayer[:position] %></td>
          <td><%= nbaplayer[:team]%></td>
          <td><%= nbaplayer[:avgpoints] %></td>
          <td><%= nbaplayer[:cost] %></td>
          <td><%= link_to 'Show', nbaplayer %></td>
          <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_nbaplayer_path(nbaplayer) %></td>
            <td><%= link_to 'Destroy', nbaplayer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</section>
