<p id="notice"><%= notice %></p>

<h1>Listing Nbaplayers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>Avgfanduelpoints</th>
      <th>Is starting lineup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nbaplayers.each do |nbaplayer| %>
      <tr>
        <td><%= nbaplayer.name %></td>
        <td><%= nbaplayer.position %></td>
        <td><%= nbaplayer.team %></td>
        <td><%= nbaplayer.avgfanduelpoints %></td>
        <td><%= nbaplayer.is_starting_lineup %></td>
        <td><%= link_to 'Show', nbaplayer %></td>
        <td><%= link_to 'Edit', edit_nbaplayer_path(nbaplayer) %></td>
        <td><%= link_to 'Destroy', nbaplayer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nbaplayer', new_nbaplayer_path %>
