<section class="plist">
  <h3>Listing NBA Players</h3>
  <table class="players-list-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Team</th>
        <th>Average Points</th>
        <th>Cost</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= player[:position] %></td>
          <td><%= player[:name] %></td>
          <td><%= player[:team] %></td>
          <td><%= player[:avgpoints] %></td>
          <td><%= player[:cost] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<section>