<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nbaplayer.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @nbaplayer.position %>
</p>

<p>
  <strong>Team:</strong>
  <%= @nbaplayer.team %>
</p>

<p>
  <strong>Avgfanduelpoints:</strong>
  <%= @nbaplayer.avgpoints %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @nbaplayer.cost%>
</p>

<div class="links">
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_nbaplayer_path(@nbaplayer) %> |
  <% end %>
  <%= link_to 'Back', list_path %>
</div>