<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nbaplayer.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @nbaplayer.position %>
</p>

<p>
  <strong>Team:</strong>
  <%= @nbaplayer.team %>
</p>

<p>
  <strong>Avgfanduelpoints:</strong>
  <%= @nbaplayer.avgpoints %>
</p>

<p>
<<<<<<< HEAD
  <strong>Cost:</strong>
  <%= @nbaplayer.cost%>
=======
  <strong>Is starting lineup:</strong>
  <%= @nbaplayer.is_starting_lineup %>
>>>>>>> 3083326312dc6908e454a7122e912b7f0a314b7b
</p>

<div class="links">
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_nbaplayer_path(@nbaplayer) %> |
  <% end %>
  <%= link_to 'Back', nbaplayers_path %>
</div>