<!DOCTYPE html>
<html>
<head>
  <title>TC359Onemodelrailsapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Add a NBA player', new_nbaplayer_path %></li>
    <li><%= link_to 'NBA Player Database', nbaplayers_path %></li>
  </ul>
  </div>
</nav>
<div class="container-fluid">
  <%= yield %>
</div>
</body>
</html>
